@page "/About"
<div style="margin:20px">
<MudText Typo=Typo.h4 Class="my-6">About Us</MudText>
<MudDivider DividerType="DividerType.Middle" Class="my-6"/>
<MudText>This is a Windows Service Application being developed towards Smart India Hackathon 2022.</MudText>

<MudText Typo=Typo.h4 Class="my-6">Our Fantastic Team</MudText>
<MudText Typo="Typo.body1" Class="my-3">
    We, a team of six collaborate on this project with atmost dedication. Our team name is "Coders".
</MudText>
<div style="width: 600px; justify-content: center; align-items:center; margin: auto">
<MudCarousel Style="height:200px;" ShowBullets=false TData="object">
    <MudCarouselItem Transition="Transition.Slide" Color="@Color.Primary">
        <div class="d-flex" style="height: 100%">
            <MudPaper Class="pa-10 mx-auto my-auto" Elevation="3">
            <MudText Class="mx-auto my-auto" Typo="Typo.h6" Color="@Color.Primary">Mentor</MudText>
            <MudText Class="mx-auto my-auto" Typo="Typo.body2">Ms. Jasmine Gilda A</MudText>
            <MudText Class="mx-auto my-auto" Typo="Typo.body2">ML, Web Technology, Data Science Expert</MudText>
            <MudText Class="mx-auto my-auto" Typo="Typo.body2">9 years of Domain Experience</MudText>
            </MudPaper>
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Slide" Color="@Color.Primary">
        <div class="d-flex" style="height:100%">
            <MudPaper Class="pa-10 mx-auto my-auto" Elevation="3">
            <MudText Class="mx-auto my-auto" Typo="Typo.h6" Color="@Color.Primary">Leader</MudText>
            <MudText Class="mx-auto my-auto" Typo="Typo.body2">Subhasree M</MudText>
            <MudText Class="mx-auto my-auto" Typo="Typo.body2">III year</MudText>
            <MudText Class="mx-auto my-auto" Typo="Typo.body2">BE, Computer Science and Engineering</MudText>
            </MudPaper>
        </div>
    </MudCarouselItem>
     <MudCarouselItem Transition="Transition.Slide" Color="@Color.Primary">
        <div class="d-flex" style="height:100%">
            <MudPaper Class="pa-10 mx-auto my-auto" Elevation="3">
            <MudText Class="mx-auto my-auto" Typo="Typo.h6" Color="@Color.Primary">Member</MudText>
            <MudText Class="mx-auto my-auto" Typo="Typo.body2">Sathiyaraman M</MudText>
            <MudText Class="mx-auto my-auto" Typo="Typo.body2">III year</MudText>
            <MudText Class="mx-auto my-auto" Typo="Typo.body2">BE, Computer Science and Engineering</MudText>
            </MudPaper>
        </div>
    </MudCarouselItem>
     <MudCarouselItem Transition="Transition.Slide" Color="@Color.Primary">
        <div class="d-flex" style="height:100%">
            <MudPaper Class="pa-10 mx-auto my-auto" Elevation="3">
            <MudText Class="mx-auto my-auto" Typo="Typo.h6" Color="@Color.Primary">Member</MudText>
            <MudText Class="mx-auto my-auto" Typo="Typo.body2">Suhail Sherief S</MudText>
            <MudText Class="mx-auto my-auto" Typo="Typo.body2">III year</MudText>
            <MudText Class="mx-auto my-auto" Typo="Typo.body2">BE, Computer Science and Engineering</MudText>
            </MudPaper>
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Slide" Color="@Color.Primary">
        <div class="d-flex" style="height:100%">
            <MudPaper Class="pa-10 mx-auto my-auto" Elevation="3">
            <MudText Class="mx-auto my-auto" Typo="Typo.h6" Color="@Color.Primary">Member</MudText>
            <MudText Class="mx-auto my-auto" Typo="Typo.body2">Sophia Mary R</MudText>
            <MudText Class="mx-auto my-auto" Typo="Typo.body2">III year</MudText>
            <MudText Class="mx-auto my-auto" Typo="Typo.body2">BE, Computer Science and Engineering</MudText>
            </MudPaper>
        </div>
    </MudCarouselItem>
     <MudCarouselItem Transition="Transition.Slide" Color="@Color.Primary">
        <div class="d-flex" style="height:100%">
            <MudPaper Class="pa-10 mx-auto my-auto" Elevation="3">
            <MudText Class="mx-auto my-auto" Typo="Typo.h6" Color="@Color.Primary">Member</MudText>
            <MudText Class="mx-auto my-auto" Typo="Typo.body2">Shalini V</MudText>
            <MudText Class="mx-auto my-auto" Typo="Typo.body2">III year</MudText>
            <MudText Class="mx-auto my-auto" Typo="Typo.body2">BE, Computer Science and Engineering</MudText>
            </MudPaper>
        </div>
    </MudCarouselItem>
     <MudCarouselItem Transition="Transition.Slide" Color="@Color.Primary">
        <div class="d-flex" style="height:100%">
            <MudPaper Class="pa-10 mx-auto my-auto" Elevation="3">
                <MudText Class="mx-auto my-auto" Typo="Typo.h6" Color="@Color.Primary">Member</MudText>
                <MudText Class="mx-auto my-auto" Typo="Typo.body2">Sruthi M</MudText>
                <MudText Class="mx-auto my-auto" Typo="Typo.body2">III year</MudText>
                <MudText Class="mx-auto my-auto" Typo="Typo.body2">BE, Computer Science and Engineering</MudText>
            </MudPaper>
        </div>
    </MudCarouselItem>
</MudCarousel>
</div>

<MudText Typo=Typo.h4 Class="my-6">Problem we solve</MudText>
<MudText Typo=Typo.body1>
    An organisation may have procured PC’s/Workstations/Laptops time to time. They may differ in configurations like RAM memory, hard disk storage, computing capability etc. Spares like keyboard, monitor memory, hard disk, graphics cards would have been changed / upgraded in due course but the changes doesn’t get tracked / reflect in the asset inventory. Develop a software to map the inventory of each system connected to the network, build an inventory of the hardware and track when changes occur. To develop Software for system hardware inventory.
</MudText>

<MudText Typo=Typo.h4 Class="my-6">Our Approach</MudText>
<MudText Typo=Typo.body1>
    To create a windows service application that reads the hardware
information and sends it to a server. The Server continuously log the latest configuration of these systems and
detect the changes in configuration, which are all logged in the database. The web application can also generate for IT asset reports and other
reports such as for configuration changes, current configuration of the systems.
</MudText>

<MudText></MudText>
<MudList Clickable="true">
        <MudListItem Text="Creating a windows service application that reads the hardware
information and sends it to a server." Icon="@Icons.Filled.LightbulbCircle" IconColor="@Color.Primary" />
        <MudListItem Text="The Server continuously log the latest configuration of these systems and
detect the changes in configuration, which are all logged in the database. " Icon="@Icons.Filled.LightbulbCircle" IconColor="@Color.Primary" />
        <MudListItem Text="The web application can also generate for IT asset reports and other
reports such as for configuration changes, current configuration of the systems." Icon="@Icons.Filled.LightbulbCircle" IconColor="@Color.Primary" />
</MudList>
<MudText Typo=Typo.h4 Class="my-6">Technology Stack</MudText>
<MudList Clickable="true">
    <MudListItem Text=".NET Framework for Windows Service" Icon="@Icons.Filled.Computer" IconColor="@Color.Primary"/>
    <MudListItem Text="ASP.NET Core Razor Pages" Icon="@Icons.Filled.Computer" IconColor="@Color.Primary"/>
    <MudListItem Text="ASP.NET Core Web API" Icon="@Icons.Filled.Computer" IconColor="@Color.Primary"/>
    <MudListItem Text="SQL Server" Icon="@Icons.Filled.Computer" IconColor="@Color.Primary"/>
</MudList>
</div>