@inject NavigationManager NavManager
<MudDialog Style="width: 90%; margin: 6px">
    <DialogContent>
        <MudForm @ref="@form" Class="pa-5 ml-3 mr-3 mt-3"> 
            <div>
                <MudText Color="Color.Primary" Style="display: flex; align-items:center; justify-content:center; margin: auto;" Typo="Typo.h5">Add keyboard record</MudText>
                <MudTextField Color=Color.Primary T="String" Style="margin-bottom:10px" Label="Serial Number" Variant="Variant.Outlined" Required/>
                <MudTextField T="String" Style="margin-bottom:10px" Label="Manufacturer" Variant="Variant.Outlined" Required/>
                <MudTextField T="String" Style="margin-bottom:10px" Label="Model" Variant="Variant.Outlined" Required/>
                <MudRadioGroup T="string" Required="true">
                     <MudRadio Option="@("Wired")">Wired</MudRadio>
                     <MudRadio Option="@("Wireless")">Wireless</MudRadio>
                </MudRadioGroup>
            </div>
        </MudForm>
    </DialogContent>    
    <DialogActions>
        <div style="display: flex; align-items:center; justify-content:center; margin: auto;">
            <MudButton Variant="Variant.Filled" OnClick="Submit" Class="ma-2 justify-content-center align-content-center" EndIcon="@Icons.Material.Filled.Send" Color="Color.Primary">Submit</MudButton>
            <MudButton Class="ma-2" Variant="Variant.Filled" OnClick="Cancel" StartIcon="@Icons.Material.Filled.Delete" Color="Color.Error">Delete</MudButton>
        </div>
    </DialogActions>
</MudDialog>
@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    void Submit() => MudDialog.Close(DialogResult.Ok(true));
    void Cancel() => MudDialog.Cancel();


    private bool _isWireless = true;

    [Inject] ISnackbar Snackbar { get; set; }
    MudForm form;
}
