@page "/Setup-Details"
@using Fluid.Shared.Entities
<EditForm Model="Model" OnValidSubmit="Submit" Context="editFormContext">
    <div class="d-flex justify-space-between">
        <div class="d-flex flex-column">
            <MudText Typo="Typo.h5" Color="Color.Primary">Machine Details</MudText>
            <MudText Typo="Typo.body1">Fill the details</MudText>
        </div>
        <div class="d-flex gap-x-2">
            <div>
                <MudTooltip Delayed="300" Text="Note: Auto Fill cannot fill all the hardware details automatically. User still need to fill the unfilled hardware details manually.">
                    <MudFab Label="Auto Fill" DisableElevation Color="Color.Secondary" StartIcon="@Icons.Filled.Bolt" Size="Size.Small" OnClick="AutoFill" />
                </MudTooltip>
            </div>
            <MudFab ButtonType="ButtonType.Submit" Label="Save" DisableElevation Color="Color.Primary" StartIcon="@Icons.Filled.Save" Size="Size.Small" />
            <MudFab ButtonType="ButtonType.Reset" Label="Cancel" DisableElevation Color="Color.Dark" StartIcon="@Icons.Filled.Clear" Size="Size.Small" />
        </div>
    </div>
    <MudDivider Class="my-4" />
    <MudGrid>
        <MudItem xs="12" md="3">
            <MudTextField @bind-Value="Model.MachineDetails.AssetTag" Margin="Margin.Dense" Variant="Variant.Outlined" Label="Asset Tag" ReadOnly />
        </MudItem>
        <MudItem xs="12" md="3">
            <MudTextField @bind-Value="Model.MachineDetails.MachineName" Margin="Margin.Dense" Variant="Variant.Outlined" Label="Machine Name" />
        </MudItem>
        <MudItem xs="12" md="3">
            <MudTextField @bind-Value="Model.MachineDetails.Manufacturer" Margin="Margin.Dense" Variant="Variant.Outlined" Label="Manufacturer" />
        </MudItem>
        <MudItem xs="12" md="3">
            <MudTextField @bind-Value="Model.MachineDetails.Model" Margin="Margin.Dense" Variant="Variant.Outlined" Label="Model" />
        </MudItem>
        <MudItem xs="12" md="3">
            <MudSelect @bind-Value="Model.MachineDetails.MachineType" Margin="Margin.Dense" Dense AnchorOrigin="Origin.BottomCenter" Variant="Variant.Outlined" Label="Machine Type">
                @foreach (var value in Enum.GetValues<MachineType>())
                {
                    <MudSelectItem Value="@value">@value.ToString()</MudSelectItem>
                }
            </MudSelect>
        </MudItem>
        <MudItem xs="12" md="3">
            <MudSelect @bind-Value="Model.MachineDetails.UseType" Margin="Margin.Dense" Dense AnchorOrigin="Origin.BottomCenter" Variant="Variant.Outlined" Label="Use Type">
                @foreach (var value in Enum.GetValues<MachineUseType>())
                {
                    <MudSelectItem Value="@value">@value.ToString()</MudSelectItem>
                }
            </MudSelect>
        </MudItem>
        @if (Model.MachineDetails.UseType == MachineUseType.PersonUse)
        {
            <MudItem xs="12" md="3">
                <MudTextField @bind-Value="Model.MachineDetails.AssignedPersonName" Margin=Margin.Dense Variant=Variant.Outlined Label="Assigned Person Name" />
            </MudItem>
        }
    </MudGrid>
    <MudDivider Class="my-4" />
    <MudText Typo="Typo.h6" Color="Color.Primary" Class="mb-4">Hardware Details</MudText>
    <MudPaper Outlined>
        <MudExpansionPanels Elevation="0">
            <MudExpansionPanel>
                <TitleContent>
                    <div class="d-flex mr-4">
                        <MudText Typo="Typo.h6">Motherboard</MudText>
                        <MudBadge Class="ml-2" Content="Model.Motherboards.Count" Color="Color.Secondary" Origin="Origin.CenterRight" />
                        <div class="ml-auto d-flex gap-x-2">
                            <MudButton Variant="Variant.Filled" Color="Color.Success" DisableElevation OnClick="(() => InvokeMotherboardDialog(new MotherboardInfo()))">Add</MudButton>
                            <MudButton Variant="Variant.Filled" Color="Color.Default" DisableElevation OnClick="(() => Model.Motherboards.Clear())">Leave Empty</MudButton>
                        </div>
                    </div>
                </TitleContent>
                <ChildContent>
                    <MudTable Elevation="0" Outlined Dense Bordered HorizontalScrollbar Items="Model.Motherboards">
                        <HeaderContent>
                            <MudTh>Serial Number</MudTh>
                            <MudTh>Manufacturer</MudTh>
                            <MudTh>Model</MudTh>
                            <MudTh>Description</MudTh>
                            <MudTh>Actions</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd>@context.OemSerialNo</MudTd>
                            <MudTd>@context.Manufacturer</MudTd>
                            <MudTd>@context.Model</MudTd>
                            <MudTd>@context.Description</MudTd>
                            <MudTd>
                                <MudButton Variant="Variant.Filled" Color="Color.Warning" DisableElevation OnClick="(() => InvokeMotherboardDialog(context))">Edit</MudButton>
                                <MudButton Variant="Variant.Filled" Color="Color.Error" DisableElevation OnClick="(() => DeleteMotherboardInfo(context))" >Delete</MudButton>
                            </MudTd>
                        </RowTemplate>
                        <NoRecordsContent>
                            No motherboards added!
                        </NoRecordsContent>
                    </MudTable>
                </ChildContent>
            </MudExpansionPanel>
            <MudExpansionPanel>
                <TitleContent>
                    <div class="d-flex mr-4">
                        <MudText Typo="Typo.h6">Keyboard</MudText>
                        <MudBadge Class="ml-2" Content="Model.Keyboards.Count" Color="Color.Secondary" Origin="Origin.CenterRight" />
                        <div class="ml-auto d-flex gap-x-2">
                            <MudButton Variant="Variant.Filled" Color="Color.Success" DisableElevation OnClick="(() => InvokeKeyboardDialog(new KeyboardInfo()))">Add</MudButton>
                            <MudButton Variant="Variant.Filled" Color="Color.Default" DisableElevation OnClick="(() => Model.Keyboards.Clear())">Leave empty</MudButton>
                        </div>
                    </div>
                </TitleContent>
                <ChildContent>
                    <MudTable Elevation="0" Outlined Dense Bordered HorizontalScrollbar Items="Model.Keyboards">
                        <HeaderContent>
                            <MudTh>Serial Number</MudTh>
                            <MudTh>Manufacturer</MudTh>
                            <MudTh>Model</MudTh>
                            <MudTh>Description</MudTh>
                            <MudTh>Actions</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd>@context.OemSerialNo</MudTd>
                            <MudTd>@context.Manufacturer</MudTd>
                            <MudTd>@context.Model</MudTd>
                            <MudTd>@context.Description</MudTd>
                            <MudTd>
                                <MudButton Variant="Variant.Filled" Color="Color.Warning" DisableElevation OnClick="(() => InvokeKeyboardDialog(context))">Edit</MudButton>
                                <MudButton Variant="Variant.Filled" Color="Color.Error" DisableElevation OnClick="(() => DeleteKeyboardInfo(context))" >Delete</MudButton>
                            </MudTd>
                        </RowTemplate>
                        <NoRecordsContent>
                            No keyboards added!
                        </NoRecordsContent>
                    </MudTable>
                </ChildContent>
            </MudExpansionPanel>
            <MudExpansionPanel>
                <TitleContent>
                    <div class="d-flex mr-4">
                        <MudText Typo="Typo.h6">Monitor</MudText>
                        <MudBadge Class="ml-2" Content="Model.Monitors.Count" Color="Color.Secondary" Origin="Origin.CenterRight" />
                        <div class="ml-auto d-flex gap-x-2">
                            <MudButton Variant="Variant.Filled" Color="Color.Success" DisableElevation OnClick="(() => InvokeMonitorDialog(new MonitorInfo()))">Add</MudButton>
                            <MudButton Variant="Variant.Filled" Color="Color.Default" DisableElevation OnClick="(() => Model.Monitors.Clear())">Leave empty</MudButton>
                        </div>
                    </div>
                </TitleContent>
                <ChildContent>
                    <MudTable Elevation="0" Outlined Dense Bordered HorizontalScrollbar Items="Model.Monitors">
                        <HeaderContent>
                            <MudTh>Serial Number</MudTh>
                            <MudTh>Manufacturer</MudTh>
                            <MudTh>Model</MudTh>
                            <MudTh>Panel Type</MudTh>
                            <MudTh>Has Built-In Speakers</MudTh>
                            <MudTh>Refresh Rate</MudTh>
                            <MudTh>HDMI Port Count</MudTh>
                            <MudTh>VGA Port Count</MudTh>
                            <MudTh>Description</MudTh>
                            <MudTh>Actions</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd>@context.OemSerialNo</MudTd>
                            <MudTd>@context.Manufacturer</MudTd>
                            <MudTd>@context.Model</MudTd>
                            <MudTd>@context.PanelType</MudTd>
                            <MudTd>
                                <MudCheckBox Checked="@context.HasBuiltInSpeakers" ReadOnly/>
                            </MudTd>
                            <MudTd>@context.RefreshRate</MudTd>
                            <MudTd>@context.HDMIPortCount</MudTd>
                            <MudTd>@context.VGAPortCount</MudTd>
                            <MudTd>@context.Description</MudTd>
                            <MudTd>
                                <MudButton Variant="Variant.Filled" Color="Color.Warning" DisableElevation OnClick="(() => InvokeMonitorDialog(context))">Edit</MudButton>
                                <MudButton Variant="Variant.Filled" Color="Color.Error" DisableElevation OnClick="(() => DeleteMonitorInfo(context))" >Delete</MudButton>
                            </MudTd>
                        </RowTemplate>
                        <NoRecordsContent>
                            No monitors added!
                        </NoRecordsContent>
                    </MudTable>
                </ChildContent>
            </MudExpansionPanel>
            <MudExpansionPanel>
                <TitleContent>
                    <div class="d-flex mr-4">
                        <MudText Typo="Typo.h6">Mouse</MudText>
                        <MudBadge Class="ml-2" Content="Model.Mouses.Count" Color="Color.Secondary" Origin="Origin.CenterRight" />
                        <div class="ml-auto d-flex gap-x-2">
                            <MudButton Variant="Variant.Filled" Color="Color.Success" DisableElevation OnClick="(() => InvokeMouseDialog(new MouseInfo()))">Add</MudButton>
                            <MudButton Variant="Variant.Filled" Color="Color.Default" DisableElevation OnClick="(() => Model.Mouses.Clear())">Leave empty</MudButton>
                        </div>
                    </div>
                </TitleContent>
                <ChildContent>
                    <MudTable Elevation="0" Outlined Dense Bordered HorizontalScrollbar Items="Model.Mouses">
                        <HeaderContent>
                            <MudTh>Serial Number</MudTh>
                            <MudTh>Manufacturer</MudTh>
                            <MudTh>Model</MudTh>
                            <MudTh>IsWireless</MudTh>
                            <MudTh>Description</MudTh>
                            <MudTh>Actions</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd>@context.OemSerialNo</MudTd>
                            <MudTd>@context.Manufacturer</MudTd>
                            <MudTd>@context.Model</MudTd>
                            <MudTd>
                                <MudCheckBox Checked="@context.IsWireless" ReadOnly/>
                            </MudTd>
                            <MudTd>@context.Description</MudTd>
                            <MudTd>
                                <MudButton Variant="Variant.Filled" Color="Color.Warning" DisableElevation OnClick="(() => InvokeMouseDialog(context))">Edit</MudButton>
                                <MudButton Variant="Variant.Filled" Color="Color.Error" DisableElevation OnClick="(() => DeleteMouseInfo(context))" >Delete</MudButton>
                            </MudTd>
                        </RowTemplate>
                        <NoRecordsContent>
                            No mouses added!
                        </NoRecordsContent>
                    </MudTable>
                </ChildContent>
            </MudExpansionPanel>
        </MudExpansionPanels>

    </MudPaper>
</EditForm>