@page "/Machine-Master/Add"
@page "/Machine-Master/{Id}/Edit"
@using Fluid.Shared.Enums
@inject MachineMasterHttpClient MasterHttpClient;
@inject MotherboardMasterHttpClient MotherboardMasterHttpClient

@if (string.IsNullOrEmpty(Id))
{
    <MudText Typo="Typo.h4" Color="Color.Primary">Add Machine Info</MudText>
}
else
{
    <MudText Typo="Typo.h4" Color="Color.Primary">Edit Machine Info</MudText>
}
<MudDivider Class="my-4"/>
<MudGrid>
    <MudItem xs="12" sm="6" md="3">
        <MudTextField Disabled="!string.IsNullOrEmpty(Id)" @bind-Value="_model.MachineDetails.AssetTag" Margin="Margin.Dense" Variant="Variant.Outlined" Label="Asset Tag"/>
    </MudItem>
    <MudItem xs="12" sm="6" md="3">
        <MudTextField @bind-Value="_model.MachineDetails.OemSerialNo" Margin="Margin.Dense" Variant="Variant.Outlined" Label="OEM Serial No"/>
    </MudItem>
    <MudItem xs="12" sm="6" md="3">
        <MudTextField @bind-Value="_model.MachineDetails.MachineName" Margin="Margin.Dense" Variant="Variant.Outlined" Label="Machine Name"/>
    </MudItem>
    <MudItem xs="12" sm="6" md="3">
        <MudTextField @bind-Value="_model.MachineDetails.Manufacturer" Margin="Margin.Dense" Variant="Variant.Outlined" Label="Manufacturer"/>
    </MudItem>
    <MudItem xs="12" sm="6" md="3">
        <MudTextField @bind-Value="_model.MachineDetails.Model" Margin="Margin.Dense" Variant="Variant.Outlined" Label="Model"/>
    </MudItem>
    <MudItem xs="12" sm="6" md="3">
        <MudTextField @bind-Value="_model.MachineDetails.AssetLocation" Margin="Margin.Dense" Variant="Variant.Outlined" Label="Asset Location"/>
    </MudItem>
    <MudItem xs="12" sm="6" md="3">
        <MudTextField @bind-Value="_model.MachineDetails.AssetBranch" Margin="Margin.Dense" Variant="Variant.Outlined" Label="Asset Branch"/>
    </MudItem>
    <MudItem xs="12" sm="6" md="3">
        <MudSelect @bind-Value="_model.MachineDetails.MachineType" Margin="Margin.Dense" Dense AnchorOrigin="Origin.BottomCenter" Variant="Variant.Outlined" Label="Machine Type">
            @foreach (var value in Enum.GetValues<MachineType>())
            {
                <MudSelectItem Value="@value">@value.ToString()</MudSelectItem>
            }
        </MudSelect>
    </MudItem>
    <MudItem xs="12" sm="6" md="3">
        <MudSelect @bind-Value="_model.MachineDetails.UseType" Margin="Margin.Dense" Dense AnchorOrigin="Origin.BottomCenter" Variant="Variant.Outlined" Label="Use Type">
            @foreach (var value in Enum.GetValues<MachineUseType>())
            {
                <MudSelectItem Value="@value">@value.ToString()</MudSelectItem>
            }
        </MudSelect>
    </MudItem>
    @if (_model.MachineDetails.UseType == MachineUseType.PersonUse)
    {
        <MudItem xs="12" sm="6" md="3">
            <MudTextField @bind-Value="_model.MachineDetails.AssignedPersonName" Margin=Margin.Dense Variant=Variant.Outlined Label="Assigned Person Name"/>
        </MudItem>
    }
</MudGrid>
<MudDivider Class="my-4"/>
<MudText Typo="Typo.h5" Color="Color.Primary">Hardware Components</MudText>
<MudPaper Outlined Class="mt-4">
    <MudExpansionPanels Elevation="0" MultiExpansion>
        <MudExpansionPanel>
            <TitleContent>
                <div class="d-flex mr-4">
                    <MudText Typo="Typo.h6">Motherboard</MudText>
                    <div class="ml-auto d-flex gap-x-2">
                        <MudButton Variant="Variant.Filled" Color="Color.Success" DisableElevation OnClick="(() => InvokeMotherboardDialog(false, false, new MotherboardInfo()))">Add Existing</MudButton>
                        <MudButton Variant="Variant.Filled" Color="Color.Success" DisableElevation OnClick="(() => InvokeMotherboardDialog(true, false, new MotherboardInfo()))">Add New</MudButton>
                        <MudButton Variant="Variant.Filled" Color="Color.Default" DisableElevation OnClick="(() => _model.Motherboards.Clear())">Leave empty</MudButton>
                    </div>
                </div>
            </TitleContent>
            <ChildContent>
                <MudTable Elevation="0" Outlined Dense Bordered HorizontalScrollbar Items="_model.Motherboards">
                    <HeaderContent>
                        <MudTh>Serial Number</MudTh>
                        <MudTh>Manufacturer</MudTh>
                        <MudTh>Model</MudTh>
                        <MudTh>Description</MudTh>
                        <MudTh>Actions</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd>@context.OemSerialNo</MudTd>
                        <MudTd>@context.Manufacturer</MudTd>
                        <MudTd>@context.Model</MudTd>
                        <MudTd>@context.Description</MudTd>
                        <MudTd>
                            <MudButton Variant="Variant.Filled" Color="Color.Warning" DisableElevation OnClick="(() => InvokeMotherboardDialog(false, true, context))">Edit</MudButton>
                            <MudButton Variant="Variant.Filled" Color="Color.Error" DisableElevation OnClick="(() => DeleteMotherboardInfo(context))" >Delete</MudButton>
                        </MudTd>
                    </RowTemplate>
                </MudTable>
            </ChildContent>
        </MudExpansionPanel>
    </MudExpansionPanels>
</MudPaper>