@page "/Hardware-Logs"
@inject FeedLogHttpClient feedLogHttpClient
@using Fluid.Shared.Entities
@using Fluid.Shared.Enums
@using MudBlazor.Extensions
<MudText Typo="Typo.h5" Color="Color.Primary">Hardware Change Logs</MudText>
<MudText Typo="Typo.body1">See all unattended logs from all machines here</MudText>
<MudDivider Class="my-4"/>
<MudPaper Class="pa-4" Outlined Elevation="0">
    <div class="d-flex flex-column">
        <div class="d-flex flex-wrap">
            <MudButton DisableElevation Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Autorenew" Class="me-2">Autovalidate</MudButton>
            <MudButton DisableElevation Variant="Variant.Filled" Color="Color.Secondary" OnClick="(() => _feedLogTable.ReloadServerData())" StartIcon="@Icons.Material.Filled.Refresh" IconColor="Color.Surface">Reload</MudButton>
        </div>
        <div class="d-flex py-4">
            <MudGrid>
                <MudItem xs="12" sm="6" md="3">
                    <MudTextField @bind-Value="_filterModel.AssetTag" Margin="Margin.Dense" Variant="Variant.Outlined" Label="Asset Tag" />
                </MudItem>
                <MudItem xs="12" sm="6" md="3">
                    <MudTextField @bind-Value="_filterModel.MachineName" Margin="Margin.Dense" Variant="Variant.Outlined" Label="Machine Name" />
                </MudItem>
                <MudItem xs="12" sm="6" md="3">
                    <MudTextField @bind-Value="_filterModel.AssetLocation" Margin="Margin.Dense" Variant="Variant.Outlined" Label="Asset Location" />
                </MudItem>
                <MudItem xs="12" sm="6" md="3">
                    <MudTextField @bind-Value="_filterModel.AssetBranch" Margin="Margin.Dense" Variant="Variant.Outlined" Label="Asset Branch" />
                </MudItem>
                <MudItem xs="12" sm="6" md="3">
                    <MudTextField @bind-Value="_filterModel.AssignedPersonName" Margin="Margin.Dense" Variant="Variant.Outlined" Label="Assigned Person" />
                </MudItem>
                <MudItem xs="12" sm="6" md="3">
                    <MudSelect @bind-Value="_filterModel.MachineType" ToStringFunc="@(new Func<MachineType?,string>(x => x == null ? "All" : x.ToString()))" Margin="Margin.Dense" Variant="Variant.Outlined" Label="Machine Type" Dense AnchorOrigin="Origin.BottomCenter">
                        <MudSelectItem T="MachineType?" Value="null">All</MudSelectItem>
                        @foreach (var value in Enum.GetValues<MachineType>())
                        {
                            <MudSelectItem T="MachineType?" Value="@value">@value.ToString()</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="12" sm="6" md="3">
                    <MudSelect @bind-Value="_filterModel.LogAttendStatus" ToStringFunc="@(new Func<LogAttendStatus?,string>(x => x == null ? "All" : x.ToString()))" Margin="Margin.Dense" Variant="Variant.Outlined" Label="Log Attend Status" Dense AnchorOrigin="Origin.BottomCenter">
                        <MudSelectItem T="LogAttendStatus?" Value="null">All</MudSelectItem>
                        @foreach (var value in Enum.GetValues<LogAttendStatus>())
                        {
                            <MudSelectItem T="LogAttendStatus?" Value="@value">@value.ToString()</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="12" sm="6" md="3">
                    <MudDateRangePicker AdornmentColor="Color.Inherit" @bind-DateRange="_searchDateRange" DateFormat="dd/MM/yyyy" Label="Log Date Range"
                                        Margin="Margin.Dense" PickerVariant="PickerVariant.Dialog" Style="background-color:--mud-palette-black" Variant="Variant.Outlined">
                        <PickerActions Context="picker">
                            <MudButton Color="Color.Primary" Size="Size.Small" OnClick="@(() => picker.Close(false))">Cancel</MudButton>
                            <MudButton Color="Color.Primary" Variant="Variant.Filled" Size="Size.Small" OnClick="(() => SubmitDateRange(picker))">Ok</MudButton>
                        </PickerActions>
                    </MudDateRangePicker>
                </MudItem>
            </MudGrid>
        </div>
    </div>
    <MudTable Dense Elevation="0" HorizontalScrollbar ServerData="new Func<TableState, Task<TableData<FeedLog>>>(OnServerReloadAsync)" @ref="_feedLogTable">
        <HeaderContent>
            <MudTh>Log DateTime</MudTh>
            <MudTh>Asset Tag</MudTh>
            <MudTh>Machine Name</MudTh>
            <MudTh>Machine Type</MudTh>
            <MudTh>Log Attend Status</MudTh>
            <MudTh>Asset Location</MudTh>
            <MudTh>Asset Branch</MudTh>
            <MudTh>Assigned Person</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd>@context.LogDateTime.ToString("dd/MM/yyyy h:mm:ss tt")</MudTd>
            <MudTd>@context.AssetTag</MudTd>
            <MudTd>@context.MachineName</MudTd>
            <MudTd>@context.MachineType.ToString()</MudTd>
            <MudTd>@context.LogAttendStatus.ToString()</MudTd>
            <MudTd>@context.AssetLocation</MudTd>
            <MudTd>@context.AssetBranch</MudTd>
            <MudTd>@(!string.IsNullOrEmpty(context.AssignedPersonName) ? context.AssignedPersonName : "-")</MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager/>
        </PagerContent>
    </MudTable>
</MudPaper>